
<div class="columns">
  <div class="column is-6 is-offset-3 ">
<h2 class="has-text-centered is-size-2">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :first_name ,class:'label' %><br />
      <div class="control">
        <%= f.text_field :first_name,class:'input' %>
      </div>
  </div>
  <div class="field">
    <%= f.label :last_name ,class:'label' %> <br />
      <div class="control">
        <%= f.text_field :last_name,class:'input' %>
      </div>
  </div>
 <div class="field">
    <%= f.label 'Profile Photo'%>
    <div class="control">
    <%= f.file_field :avatar,class:'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :date_of_birth ,class:'label' %><br />
      <div class="control">
        <%= f.date_field :date_of_birth,class:'input' %>
      </div>
  </div>

  <div class="field">
    <%= f.label :email,class:'label' %><br />
      <div class="control has-icons-left has-icons-right">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'input' %>
        <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>

  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" ,class:'input' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:'input' %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" ,class:'input'%>
  </div>

  <div class="actions">
    <%= f.submit "Update",class: "button is-primary" %>
  </div>
<% end %>



<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,  class: "button is-danger" %></p>

<%= link_to "Back", :back %>
</div>
</div>