
<div class="columns">
  <div class="column is-6 is-offset-3 ">
<h1 class="has-text-centered is-size-2 ">Sign up</h1>  
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field">
    <%= f.label :first_name ,class:'label' %><br />
      <div class="control">
        <%= f.text_field :first_name,class:'input' %>
      </div>
  </div>

  <div class="field">
    <%= f.label :last_name ,class:'label' %> <br />
      <div class="control">
        <%= f.text_field :last_name,class:'input' %>
      </div>
  </div>
<div class="field">
<div class="control">
     <%= f.label :gender ,class:'label' %> <br />
  <div class="select">
    <%= f.select(:gender, [['Male', 'male'], ['Female', 'female'], ['Other', 'other']]) %>
  </div>
</div>

</div>


  <div class="field">
    <%= f.label :date_of_birth ,class:'label' %><br />
      <div class="control">
        <%= f.date_field :date_of_birth,class:'input' %>
      </div>
  </div>


  <div class="field">
    <%= f.label :email,class:'label' %><br />
      <div class="control has-icons-left has-icons-right">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'input' %>
        <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>

  </div>

 <div class="field">
    <%= f.label 'Profile Photo'%>
    <div class="control">
    <%= f.file_field :avatar,class:'input' %>
    </div>
  </div>


  <div class="field">
    <%= f.label :password %>
    <div class="control">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" ,class:'input'%>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
  <div class="control">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:'input' %>
  </div>
  </div>



<div class="field">
  <p class="control">
       <%= f.submit "Sign up",  class: "button is-primary" %>
  </p>
</div>



<% end %>  

<%= render "devise/shared/links" %>

  </div>

</div>









