<% @users.each do |user| %>
<h1><%= user.first_name %> <%= user.last_name %></h1>
<h1><%= user.gender %></h1>

<h1><%= user.date_of_birth %></h1>
<%= button_to "Add Friend", add_friend_path(user), method: :post %>
 
<% end %> 
