
<div class="columns space-x">
	<div class="column is-3 is-offset-2">
		
		<figure class="image is-1by1">
			<% if @user.avatar.attached? %>
			<%= image_tag @user.avatar,size: '180',class:'is-rounded' %>
			<% else %>
			 <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
			<% end %>
		 
		</figure>
	</div>
	<div class="is-3">
		<h2 class="has-text-centered is-size-2"><%= @user.first_name %> <%= @user.last_name %>  </h2>
		<h4 class="is-size-4"><%= @user.email %> </h4>
		<h4 class="is-size-4"><%= @user.gender %> </h4>
		<h4 class="is-size-4"><%= @user.date_of_birth %> </h4>
		<h1><% if current_user == @user %> </h1>
		<%= link_to 'Edit Profile', edit_user_registration_path %>
		<% end %>
	</div>

</div>






<% if @friends.count > 0 || @requested_friends.count > 0 %>


<h2 class="has-text-centered is-size-2">My friends</h2>

  <% @friends.each do |friend| %>
    <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
            <% if friend.avatar.attached?  %>
                    <%= image_tag friend.avatar,size: '128' ,class:'is-rounded' %>
                <% else %>
                       <img src="https://bulma.io/images/placeholders/128x128.png" class="is-rounded">
                 <% end %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= friend.first_name %> <%= friend.last_name %></strong> 
                <br>
                <%= link_to 'View Profile', user_profile_path(friend), class:'btn btn-info' %>
	            <%= button_to 'Unfriend', deny_request_path(friend), method: :delete, class:'button is-light' %>
              </p>
            </div>

          </div>
        </article>
    </div>
<% end %> 


<h2 class="has-text-centered is-size-2">Requested friends</h2>
  <% @requested_friends.each do |requested_friend| %>
    <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
            <% if requested_friend.avatar.attached?  %>
                    <%= image_tag requested_friend.avatar,size: '128' ,class:'is-rounded' %>
                <% else %>
                       <img src="https://bulma.io/images/placeholders/128x128.png" class="is-rounded">
                 <% end %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= requested_friend.first_name %> <%= requested_friend.last_name %></strong> 
                <br>
                <%= link_to 'View Profile', user_profile_path(requested_friend), class:'btn btn-info' %>
                <div class="buttons">
				 <%= button_to 'Accept', accept_request_path(requested_friend), method: :put, class:'button is-primary'  %>
				 <%= button_to 'Decline', deny_request_path(requested_friend), method: :delete, class:'button is-danger'  %>
				</div>
              </p>
            </div>

          </div>
        </article>
    </div>
<% end %> 

=======
<h3>My friends</h3>
<% @friends.each do |friend| %>
 <div>	<%= friend.email %></div>
 <%= link_to 'View Profile', user_profile_path(friend), class:'btn btn-info' %>

 <%= form_tag  deny_request_path(friend.id) ,method: 'delete' do %>
 <%= submit_tag "unfriend #{friend.first_name}" %>
 <% end %>

 
<% end %>
<h3>Requested friends</h3>
<% @requested_friends.each do |requested_friend| %>
 <div>	<%= requested_friend.email %> </div>
 <%= link_to 'View Profile', user_path(requested_friend), class:'btn btn-info' %>
 <%= button_to 'Accept', accept_request_path(requested_friend), method: :put, class:'btn btn-success' %>
 <%= button_to 'Decline', deny_request_path(requested_friend), method: :delete, class:'btn btn-danger' %>
<% end %>

<% else %>
<div class="columns is-mobile">
  <div class="column is-6 is-offset-3">
	You dont have any friends.
</div>
</div>
<% end %>