<!DOCTYPE html>
<html>
  <head>
    <title>FACEBOOKClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
         <%= tinymce_assets %>
 <script type="text/javascript" src="/assets/tinymce.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

  <%= render "shared/nav" %>  

  <div class="mt-10">
      <% flash.each do |key,value|%>
  <div class="notification is-<%= key %> is-light">
    <%= value %>
</div>
  <% end %>
    <%= yield %>
</div>
  </body>
</html>
