<!DOCTYPE html>
<html>
  <head>
    <title>FACEBOOKClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key,value|%>
  <div class="alert alert-<%= key %>" role="alert">
    <%= value %>
  </div>
  <% end %>
    <%= yield %>
  </body>
</html>
